<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
    <li>Nombre de producto : <br>{{this.title}} <br> estado de producto : {{this.description}} <br> $ {{this.price}} <br> Stock : {{this.stock}} <br> categoria : {{this.category}} </li>
    {{/each}}
  </ul>
</body>
</html>
